@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html{scroll-behavior: smooth;}
body{
 font-family: sans-serif;
 position: relative;
}
.container-1{
 background: url(/Image/slide-01.jpg);
 /* padding: 30px 100px 50px; */
 height: 100vh;
}
.sticky{
  background-color: #212741fb;
  position: fixed;
  top: 0;
  width: 100%;
}
nav{
 display: flex;
 /* width: 100%; */
 justify-content: space-between;
 align-items: center;
 color: #fff;
padding: 30px 70px;
/* position: fixed; */
/* background: #0e132c; */
}

.nav-list{
 display: flex;
 justify-content: space-around;
 list-style: none;
}
.sidebar{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(10px);
  transition: .9s ease-in-out;
  /* box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1); */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
}
.menu-btn{
  display: none;
  margin-right: auto;
}
.nav-list li{
 padding: 10px;
}
.nav-list a{
 text-decoration: none;
 padding: 5px;
 color: #fff;
font-size: 15px;
}

.buttons a{
 padding: 10px 15px;
 color: white;
 text-decoration: none;
 border-radius: 5px;
} 
a.bg-green{
 margin-right: 20px;
 background: #43ba7f;
}
a.bg-orange{
 background-color: transparent;
 border: 2px solid orangered;
}
a.bg-green:hover{
  background-color: transparent;
  border: 1px solid #43ba7f;
  transition: .3s ease-in-out;
}
a.bg-orange:hover{
  background-color: orangered;
  transition: .3s ease-in-out;
}
a.bg-orange:active,a.bg-green:active{
  color: black;
  background-color: #516eff;
}

.txt-orange{
 color: orangered;
}
.txt-green{
 color: #43ba7f;
}
nav h1{
 font-size: 35px;
} 
nav a{
  font-size: 17px;
}
.header{
 display: flex;
padding: 0 100px ;
 color: white;

}
.header-text{
 margin: auto;
}
.header-text h1{
 font-size: 45px;
 margin-bottom: 20px;
}
.header-text p{
 margin: 40px 0;
}
.text-line{
 background-color: #fff;
 height: 7px;
 width: 40%;
 border-radius: 5px;
}
.container-2{
 text-align: center;
 padding: 20px;
 margin-top: 40px;
}
.about-seg{
 display: flex;
 padding: 60px;
 align-items: center;
}
.about-seg img{
 width: 400px;
 margin-bottom: -80px;
}
.about-seg p{
 font-size: 22px;
}
.container-3{
 display: flex;
 justify-content: space-between;
 align-items: center;
 color: white;
 padding:50px 200px 50px 100px;
 background: url(/Image/business\ solution.jpg);
}
.container-3 h1{
  font-size: 40px;
}
.container-3 a.btn{
  padding:15px 20px;
  font-size: 17px;
}
.container-4{
 margin: 20px;
 padding: 50px 80px;
 /* text-align: center; */
}
.container-4 h1{
 text-align: center;
 font-size: 40px;
 margin-bottom: 70px;
}
.grid {
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 50px;
}

.box {
 display: flex;
 align-items: center;
 padding: 20px;
 background-color: #b0b0b038;
 border-radius: 10px;
 box-shadow: rgba(0, 0, 0, 0.2) 0 0 15px;
}

.box-icon{
 float: left;
font-size: 40px;
 margin: 20px;
color: #212741;
}

.box:hover .box-icon {
 translate: 0 -15px;
 transition: .2s ease-in-out;
}
.pre-foot {
  display: flex;
 padding: 40px 70px;
 background-color: #212741;
 justify-content: space-around;
}

/* .pre-foot img {
  object-fit:cover; 
  padding: 10px;
} */

footer {
 background-color: #0e132c;
 text-align: center;
 padding: 40px;
 color: #fff;
 font-family: "Poppins", sans-serif;
 font-style: normal;
 font-weight: normal;
 font-size: 18px;
}

footer a {
 text-decoration: none;
}

footer a:hover {
 color: #516eff;
 transition: .2s ease-in-out;
}


/* Back to Top Button */
.to-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #264a38;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
  z-index: 1000;
  transition: all .4s;
}

.to-top:hover {
  
  background: #2bb36f;
}

.show {
  display: block;
}


@media (max-width: 768px){

 .hideonmobile,nav .buttons{
  display: none;
 }
 nav{
  /* display: flex; */
padding: 20px 40px;
position: relative;
  /* justify-content: space-between; */
 }
.menu-btn{
  display: block;
  color: black;

}  

    .container-1 {
  /* width: 100vw; */
    padding: 20px 0 50px;
    }
 .header{
  padding: 0 60px ;

}
    .header-text p{
      width: 89%;
    }
    .header img{
     display: none;
    }
    .container-1 h1{
      width: 80%;
    }



  .container-2 h1 {
    padding: 20px;
  }
    
  .about-seg {
    width: 90%;
    display: block;
    padding:20px 5px;
    align-items: center;
  }
    
  .about-seg img {
    display: none;
    width: 220px;
    margin-bottom:-40px;
  }
    
  .about-seg p {
    font-size: 17px;
  }
  .container-3{
 display: block;
 justify-content: space-between;
 text-align: center;
 color: white;
 
 padding:50px 50px;
}
.container-3 .buttons{
  margin-top: 30px;
}
.box {
 /* border: 1px solid rgb(213, 208, 197); */
 display: block;
text-align: center;
}

.box-icon{
 float: none;
}

.pre-foot .dis{
  display: none;
}
}
@media (max-width: 510px){
  .pre-foot .dis-2 {
      display: none;
    }
    /* .prefoot img{
       display: block;
       margin: auto; 
    } */
    .header-text h1{
  font-size: 40px;
}
    .header{
padding: 0 40px ;

}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}
.box {
  display: block;
  padding: 10px;
}

}
